{% extends 'base.html' %}
{% load static %}
{% block content %}
  <body>
  {% include 'header.html' %}
    <section class="product">
      <div class="container">
        <div class="product__content">
          <div class="product-left">
            <h1> Продукция</h1>
          </div>
          <div class="product-right">
            <div class="crumb"><a href="#">Главная</a><a href="#">Продукция</a><span> Колбасы</span></div>
          </div>
        </div>
      </div>
    </section>
  {% for item in product_categories %}
    <div class="product__section-all">
      <section class="product__section-group">
        <div class="parallax" style="background: url({% static 'img/jpg/slider-background.jpg' %})">
          <div class="paralax-img"><img src="{% static 'img/png/img9.png' %}"/></div>
          <div class="paralax-img2"><img src="{% static 'img/png/img10.png' %}"/></div>
          <div class="parallax-heading">
            <h2>{{ item.name }}</h2>
          </div>
        </div>
        <div class="product-sausage">
          <div class="container">
            <div class="product-right-all">
              <div class="product-right">
                <div class="product__card-all">
                  {% for product in item.products.all %}
                  <div class="product__card-inner">
                    <div class="product__card">
                      <div class="product__card-img"><img src="{{ product.image.url }}"/></div>
                      <h4 data-mh="my-group">{{ product.name }}</h4><a href="{% url 'product-detail-url' item.id %}"></a>
                    </div>
                  </div>
                  {% endfor %}
                </div>
                <div class="button__product-all"><a href="#">Смотреть все</a></div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  {% endfor %}
    {% include 'footer.html' %}
  </body>
{% endblock %}
