{% extends 'base.html' %}
{% load static %}
{% block content %}
  <body>
    {% include 'header.html' %}
    <section class="product publications-page">
      <div class="container">
        <div class="product__content">
          <div class="product-left">
            <h1> публикации</h1>
          </div>
          <div class="product-right">
            <div class="about-company-all">
              <div class="crumb"><a href="#">Главная</a><a href="#">Продукция</a><span> Колбасы</span></div>
              <div class="about-company__content">

                {% for item in page_obj %}
                  <div class="about-company">
                    <h2 class="h2">{{ item.name }}</h2>
                    <h5 class="h5">{{ item.created_at }}</h5>
                    <p>{{ item.get_short_description }}<span>подробнее</span></p><img src="{{ item.image.url }}"/><a href="{% url 'publication-detail-url' %}"></a>
                  </div>
                {% endfor %}
              </div>
              <div class="publication__pagination">
                <div class="pagination__left"><a class="arrow-left disabled" href="#"></a></div>
                <div class="publication__pagination-num"><a class="active" href="#">1</a><a href="#">2</a><a href="#">3</a><a href="#">...</a><a href="#">85</a></div>
                <div class="pagination__right"><a class="arrow-right" href="#"></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% include 'footer.html' %}
  </body>
{% endblock %}
