{% extends 'base.html' %}
{% load static %}
{% block content %}
  <body>
  {% include 'header.html' %}
    <section class="product recipes-inner">
      <div class="container">
        <div class="product__content">
          <div class="product-left">
            <h1> рецепты</h1>
          </div>
          <div class="product-right">
            <div class="about-company-all">
              <div class="crumb"><a href="#">Главная</a><a href="#">Продукция</a><span> Колбасы</span></div>
              <div class="recipes__content">
                <div class="recipes__content-block">
                  <h2 class="h2">{{ recipe.name }}</h2><img src="{{ recipe.image.url }}"/>
                  <p class="p">Bake eggs, cheese, mushrooms, cranberries and Jimmy Dean® Pork Sausage in a fluted tart pan for a dinner as delicious as it looks!</p>
                </div>
                <div class="recipes__content-block">
                  <p>
                    {{ recipe.ingredients }}
                  </p>
                </div>
                <div class="recipes__content-block">
                  <h2 class="h2">Directions</h2>
                  <p>{{ recipe.description }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="about-product">
      <div class="container">
        <div class="product-sausage">
          <div class="product-right">
            <div class="product__card-all">
              {% for item in recipe.products.all %}
              <div class="product__card-inner">
                <div class="product__card">
                  <div class="product__card-img" data-mh="my-group3"><img src="{{ item.image.url }}"/></div>
                  <h4 data-mh="my-group"> {{ item.name }}</h4><a href="{% url 'product-detail-url' item.id %}"></a>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>
    {% include 'footer.html' %}
  </body>
{% endblock %}